* {
  background-color: #DECBB7;
}

header {
  font-weight: 300;
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-title {
  font-style: italic;
  font-size: 64px;
}

footer {
  position: relative;
  bottom: 0;
  font-size: 8px;
}
